
controllers/ur_controller/__pycache__/

controllers/.idea/

worlds/.Ur_bin_picking.wbproj

controllers/ur_controller/P6BinPicking

controllers/ur_controller/kinematics/__pycache__/

.idea/

utils/dataset/**/*
utils/dataset_splitted/**/*
vision/yolo/config/*
vision/yolo/data/**/*
vision/*.avi